@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(calc(3 * 360deg));
  }
}

.spinner {
  color: white;

  animation-direction: normal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: spin;
  animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
}
