@media (prefers-color-scheme: light) {
  :root {
    --color-background: #F0F0F0;
    --color-surface: #F5F5F5;
    --color-overlay: #FAFAFA;
    --color-text: rgba(0, 0, 0, 0.7);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1F1F1F;
    --color-surface: #262626;
    --color-overlay: #434343;
    --color-text: rgba(255, 255, 255, 0.8);
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
